<a href="https://colab.research.google.com/github/SonHyeok/Foreigner-in-korea/blob/main/Foreigner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#한글폰트 다운로드
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

#한글폰트 설정
plt.rc('font', family='NanumBarunGothic')

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/개인 공공데이터 분석 자료/data/법무부_외국인체류데이터_20191231.csv', encoding = 'cp949')

In [ ]:
df.head()

     대륙      국적  성별  D-1(문화예술)  ...  G-1(기타)  H-1(관광취업)  H-2(방문취업)  기타(other)
0  아시아주  한국계중국인  남성        1.0  ...    162.0        NaN   117420.0        5.0
1  아시아주  한국계중국인  여성        1.0  ...     70.0        NaN    75235.0        3.0
2  아시아주      중국  남성       10.0  ...   2779.0        NaN       16.0      272.0
3  아시아주      중국  여성        6.0  ...   1325.0        NaN       17.0      268.0
4  아시아주     베트남  남성        2.0  ...    672.0        NaN        NaN      108.0

[5 rows x 31 columns]

In [ ]:
df.tail()

     대륙     국적  성별  D-1(문화예술)  ...  G-1(기타)  H-1(관광취업)  H-2(방문취업)  기타(other)
366  기타    무국적  여성        NaN  ...      1.0        NaN        NaN        NaN
367  기타  미등록국가  남성        NaN  ...      NaN        NaN        NaN        NaN
368  기타  미등록국가  여성        NaN  ...      NaN        NaN        NaN        NaN
369  기타   국제연합  남성        NaN  ...      NaN        NaN        NaN       14.0
370  기타   국제연합  여성        NaN  ...      NaN        NaN        NaN       11.0

[5 rows x 31 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   대륙          371 non-null    object
 1   국적          371 non-null    object
 2   성별          371 non-null    object
 3   D-1(문화예술)   30 non-null     float64
 4   D-2(유학)     332 non-null    float64
 5   D-3(기술연수)   23 non-null     float64
 6   D-4(일반연수)   281 non-null    float64
 7   D-5(취재)     18 non-null     float64
 8   D-6(종교)     132 non-null    float64
 9   D-7(주재)     85 non-null     float64
 10  D-8(기업투자)   150 non-null    float64
 11  D-9(무역경영)   130 non-null    float64
 12  D-10(구직)    196 non-null    float64
 13  E-1(교수)     138 non-null    float64
 14  E-2(회화강사)   56 non-null     float64
 15  E-3(연구)     140 non-null    float64
 16  E-4(기술지도)   40 non-null     float64
 17  E-5(전문직업)   69 non-null     float64
 18  E-6(예술흥행)   135 non-null    float64
 19  E-7(특정활동)   222 non-null    float64
 20  E-9(비전문취업)  59 non-null     float64
 21  E-10(선원취업)  13 non-null     float64
 22  F-1(방문동거)   213 non-null    float64
 23  F-2(거주)     245 non-null    float64
 24  F-3(동반)     251 non-null    float64
 25  F-5(영주)     184 non-null    float64
 26  F-6(결혼이민)   269 non-null    float64
 27  G-1(기타)     189 non-null    float64
 28  H-1(관광취업)   50 non-null     float64
 29  H-2(방문취업)   19 non-null     float64
 30  기타(other)   271 non-null    float64
dtypes: float64(28), object(3)
memory usage: 90.0+ KB

In [ ]:
df.isnull().sum()

대륙              0
국적              0
성별              0
D-1(문화예술)     341
D-2(유학)        39
D-3(기술연수)     348
D-4(일반연수)      90
D-5(취재)       353
D-6(종교)       239
D-7(주재)       286
D-8(기업투자)     221
D-9(무역경영)     241
D-10(구직)      175
E-1(교수)       233
E-2(회화강사)     315
E-3(연구)       231
E-4(기술지도)     331
E-5(전문직업)     302
E-6(예술흥행)     236
E-7(특정활동)     149
E-9(비전문취업)    312
E-10(선원취업)    358
F-1(방문동거)     158
F-2(거주)       126
F-3(동반)       120
F-5(영주)       187
F-6(결혼이민)     102
G-1(기타)       182
H-1(관광취업)     321
H-2(방문취업)     352
기타(other)     100
dtype: int64

In [ ]:
df['대륙'].value_counts()

아프리카주     101
아시아주       94
유럽주        91
남아메리카주     59
오세아니아주     16
기타          6
북아메리카주      4
Name: 대륙, dtype: int64

In [ ]:
df['국적'].value_counts()

도미니카연방    2
미등록국가     2
니제르       2
오스트리아     2
우루과이      2
         ..
파푸아뉴기니    1
지부티       1
나우루       1
바하마       1
세인트루시아    1
Name: 국적, Length: 192, dtype: int64

In [ ]:
df = df.fillna(0)

In [ ]:
df.isnull()

        대륙     국적     성별  D-1(문화예술)  ...  G-1(기타)  H-1(관광취업)  H-2(방문취업)  기타(other)
0    False  False  False      False  ...    False      False      False      False
1    False  False  False      False  ...    False      False      False      False
2    False  False  False      False  ...    False      False      False      False
3    False  False  False      False  ...    False      False      False      False
4    False  False  False      False  ...    False      False      False      False
..     ...    ...    ...        ...  ...      ...        ...        ...        ...
366  False  False  False      False  ...    False      False      False      False
367  False  False  False      False  ...    False      False      False      False
368  False  False  False      False  ...    False      False      False      False
369  False  False  False      False  ...    False      False      False      False
370  False  False  False      False  ...    False      False      False      False

[371 rows x 31 columns]

In [ ]:
df.columns

Index(['대륙', '국적', '성별', 'D-1(문화예술)', 'D-2(유학)', 'D-3(기술연수)', 'D-4(일반연수)',
       'D-5(취재)', 'D-6(종교)', 'D-7(주재)', 'D-8(기업투자)', 'D-9(무역경영)', 'D-10(구직)',
       'E-1(교수)', 'E-2(회화강사)', 'E-3(연구)', 'E-4(기술지도)', 'E-5(전문직업)',
       'E-6(예술흥행)', 'E-7(특정활동)', 'E-9(비전문취업)', 'E-10(선원취업)', 'F-1(방문동거)',
       'F-2(거주)', 'F-3(동반)', 'F-5(영주)', 'F-6(결혼이민)', 'G-1(기타)', 'H-1(관광취업)',
       'H-2(방문취업)', '기타(other)'],
      dtype='object')

In [ ]:
columns = ['D-1(문화예술)', 'D-2(유학)', 'D-3(기술연수)', 'D-4(일반연수)',
       'D-5(취재)', 'D-6(종교)', 'D-7(주재)', 'D-8(기업투자)', 'D-9(무역경영)', 'D-10(구직)',
       'E-1(교수)', 'E-2(회화강사)', 'E-3(연구)', 'E-4(기술지도)', 'E-5(전문직업)',
       'E-6(예술흥행)', 'E-7(특정활동)', 'E-9(비전문취업)', 'E-10(선원취업)', 'F-1(방문동거)',
       'F-2(거주)', 'F-3(동반)', 'F-5(영주)', 'F-6(결혼이민)', 'G-1(기타)', 'H-1(관광취업)',
       'H-2(방문취업)', '기타(other)']

In [ ]:
df.pivot(index = ['대륙','국적','성별'], columns = columns)

Empty DataFrame
Columns: []
Index: [(기타, 국제연합, 남성), (기타, 국제연합, 여성), (기타, 무국적, 남성), (기타, 무국적, 여성), (기타, 미등록국가, 남성), (기타, 미등록국가, 여성), (남아메리카주, 가이아나, 남성), (남아메리카주, 과테말라, 남성), (남아메리카주, 과테말라, 여성), (남아메리카주, 그레나다, 남성), (남아메리카주, 그레나다, 여성), (남아메리카주, 니카라과, 남성), (남아메리카주, 니카라과, 여성), (남아메리카주, 도미니카공화국, 남성), (남아메리카주, 도미니카공화국, 여성), (남아메리카주, 도미니카연방, 남성), (남아메리카주, 도미니카연방, 여성), (남아메리카주, 멕시코, 남성), (남아메리카주, 멕시코, 여성), (남아메리카주, 바베이도스, 남성), (남아메리카주, 바베이도스, 여성), (남아메리카주, 바하마, 여성), (남아메리카주, 베네수엘라, 남성), (남아메리카주, 베네수엘라, 여성), (남아메리카주, 벨리즈, 남성), (남아메리카주, 벨리즈, 여성), (남아메리카주, 볼리비아, 남성), (남아메리카주, 볼리비아, 여성), (남아메리카주, 브라질, 남성), (남아메리카주, 브라질, 여성), (남아메리카주, 세인트루시아, 여성), (남아메리카주, 세인트크리스토퍼네비스, 남성), (남아메리카주, 세인트크리스토퍼네비스, 여성), (남아메리카주, 수리남, 여성), (남아메리카주, 아르헨티나, 남성), (남아메리카주, 아르헨티나, 여성), (남아메리카주, 아이티, 남성), (남아메리카주, 아이티, 여성), (남아메리카주, 앤티카바부다, 남성), (남아메리카주, 에콰도르, 남성), (남아메리카주, 에콰도르, 여성), (남아메리카주, 엘살바도르, 남성), (남아메리카주, 엘살바도르, 여성), (남아메리카주, 온두라스, 남성), (남아메리카주, 온두라스, 여성), (남아메리카주, 우루과이, 남성), (남아메리카주, 우루과이, 여성), (남아메리카주, 자메이카, 남성), (남아메리카주, 자메이카, 여성), (남아메리카주, 칠레, 남성), (남아메리카주, 칠레, 여성), (남아메리카주, 코스타리카, 남성), (남아메리카주, 코스타리카, 여성), (남아메리카주, 콜롬비아, 남성), (남아메리카주, 콜롬비아, 여성), (남아메리카주, 쿠바, 남성), (남아메리카주, 쿠바, 여성), (남아메리카주, 트리니다드토바고, 남성), (남아메리카주, 트리니다드토바고, 여성), (남아메리카주, 파나마, 남성), (남아메리카주, 파나마, 여성), (남아메리카주, 파라과이, 남성), (남아메리카주, 파라과이, 여성), (남아메리카주, 페루, 남성), (남아메리카주, 페루, 여성), (북아메리카주, 미국, 남성), (북아메리카주, 미국, 여성), (북아메리카주, 캐나다, 남성), (북아메리카주, 캐나다, 여성), (아시아주, 네팔, 남성), (아시아주, 네팔, 여성), (아시아주, 라오스, 남성), (아시아주, 라오스, 여성), (아시아주, 레바논, 남성), (아시아주, 레바논, 여성), (아시아주, 마카오, 남성), (아시아주, 마카오, 여성), (아시아주, 말레이시아, 남성), (아시아주, 말레이시아, 여성), (아시아주, 몰디브, 남성), (아시아주, 몰디브, 여성), (아시아주, 몽골, 남성), (아시아주, 몽골, 여성), (아시아주, 미얀마, 남성), (아시아주, 미얀마, 여성), (아시아주, 바레인, 남성), (아시아주, 바레인, 여성), (아시아주, 방글라데시, 남성), (아시아주, 방글라데시, 여성), (아시아주, 베트남, 남성), (아시아주, 베트남, 여성), (아시아주, 부탄, 남성), (아시아주, 부탄, 여성), (아시아주, 브루나이, 남성), (아시아주, 브루나이, 여성), (아시아주, 사우디아라비아, 남성), (아시아주, 사우디아라비아, 여성), (아시아주, 스리랑카, 남성), (아시아주, 스리랑카, 여성), (아시아주, 시리아, 남성), ...]

[371 rows x 0 columns]